.footer {

    border-top: 1px solid #d1d1db;
    padding: 20px 20px 0 20px;

    &__icon {
        display: grid;
        grid-template-columns: repeat(5, auto);
        margin-bottom: 20px;
        text-align: end;
    }

    &__copy {
        font-size: 14px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 15px;
            font-weight: 400;

            line-height: normal;

            letter-spacing: .47px;

            .copy {
                margin-right: 10px;
            }
        }

        a {
            font-weight: 400;

            line-height: normal;
            margin-bottom: 10px;
            letter-spacing: 0.47px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

.icon {
    justify-self: center;

}

@include breakpoint-up(medium) {
    .footer {

        &__icon {
            width: 60vw;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        &__copy {
            span {
                letter-spacing: 10px;
                margin-bottom: 5px;
            }

            a {
                letter-spacing: 5px;
            }
        }

    }

    .icon {
        width: 55px;
        height: 26px;
    }
}