*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font4;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;


}

body {
    background-color: #f2f2ff;
    max-width: 1440px;


}


.react-icons {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: white;
    -webkit-tap-highlight-color: transparent;

}

button {
    outline: none;
}


//visibility
.hide-for-mobile {

    @include breakpoint-down(medium) {
        display: none;
    }

}

.hide-for-desktop {

    @include breakpoint-up(large) {
        display: none;
    }

}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font4;

}

p,
span {
    font-family: $font3;

}