.intro {
    width: 93vw;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;


    &__title {
        font-size: 38px;
        margin-top: 15px;
        margin-bottom: 23px;

    }

    &__info {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    &__btn {
        font-size: 13px;
        width: 130px;
        height: 35px;
        background-color: mediumpurple;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-weight: 600;
    }
}

@include breakpoint-up(medium) {
    .intro {
        width: 80vw;
        padding: 20px 30px 80px;
        font-stretch: 100%;



        &__title {
            font-size: 60px;
            padding: 20px 20px 20px 0;
            width: 50%;
            letter-spacing: 10px;
            margin-bottom: 0;
        }

        &__info {
            font-size: 22px;
            padding-right: 130px;
            margin-bottom: 45px;
        }

        &__btn {
            &:hover {
                background-color: #fff2f2;
            }
        }
    }
}