.header {
    // background-color: $myblue;
    display: flex;
    align-items: center;

}

.navbar {
    padding: 8px 16px;
    overflow: hidden;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
        color: white;
        font-size: 1.5625rem;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-position: center;
        background-size: cover;

        background-image: url(../img/myAvatar.png);



    }

    &_links {
        width: 30%;
        display: flex;
        justify-content: space-between;
        list-style: none;


        &-item {
            // color: black;
            cursor: pointer;
        }

        &-item:nth-child(even) {
            animation: up 1s forwards;
        }

        &-item:nth-child(odd) {
            animation: down 1s forwards;
        }
    }
}

.navlink {
    // font-size: 1.5rem;
    padding: 10px;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: top;
    transition: transform 500ms cubic-bezier(0.55, 0.55, 0.675, 0.19);





}

.daflex {
    // display: flex;
    width: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.darkmode {
    margin-left: 10px;
    cursor: pointer;

    &_icon {
        height: 20px;
        fill: black;
    }
}




@keyframes up {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes down {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}



@include breakpoint-down(medium) {
    .navbar {
        width: 93vw;
        padding: 8px 0;

        &_logo {
            font-weight: 500;
            width: 60px;
            height: 60px;
        }

        &_links {
            display: none;
            width: 93vw;
        }
    }

    .darkmode {
        margin-right: 38px;
    }



}


// .react-responsive-modal-modal {
//     height: auto;
//     margin: 0 auto;
//     padding: 45px 25px 0 0 !important;
//     max-width: 1023px !important;

//     background-color: rgba(2, 29, 68, .1) !important;
//     @include breakpoint-down(medium) {
//         padding-right: 0 !important;
//     }
// }

// .modal__grid {
//     display: grid;
//     grid-template-columns: 1fr 1fr;

//     @include breakpoint-down(medium) {
//         grid-template-columns: 1fr;
//     }


// }

// .modalinfo {
//     padding: 0 20px 20px 20px;

//     @include breakpoint-down(medium) {
//         padding: 0 20px;
//     }

//     &_title {
//         font-size: 25px;
//         padding-bottom: 1.5rem;
//         display: flex;
//         align-items: center;
//         justify-content: flex-start;

//         @include breakpoint-down(small) {
//             font-size: 14px;
//         }
//     }

//     p {
//         margin-bottom: 1rem;
//         font-size: 18px;
//         font-weight: 400;
//         line-height: 25px;

//         a {
//             color: rgb(11, 199, 199);
//             outline: none;
//         }

//         @include breakpoint-down(medium) {
//             font-size: 14px;
//         }
//     }
// }

// .modalimg {
//     justify-self: center;
//     align-self: center;
//     margin-bottom: 10px;



//     img {
//         width: 400px;
//         height: 400px;

//         @include breakpoint-down(medium) {
//             margin: 0 auto;

//             width: 324px;
//             height: 270px;
//             object-fit: cover;
//         }
//     }
// }

// .react-responsive-modal-closeButton {
//     svg {
//         fill: rgb(7, 223, 223);
//     }
// }

// .react-responsive-modal-overlay {
//     position: absolute !important;
//     top: 0 !important;
//     right: 0 !important;
//     left: 0 !important;
//     bottom: 0 !important;
// }