.header {
    background-color: $myblue;
    display: flex;
    align-items: center;

}

.navbar {
    padding: 8px 16px;
    overflow: hidden;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
        color: white;
        font-size: 1.5625rem;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-position: center;
        background-size: cover;

        background-image: url(../img/myAvatar.png);



    }

    &_links {
        width: 30%;
        display: flex;
        justify-content: space-between;
        list-style: none;


        &-item {
            color: rgba(0, 0, 0, 0.65);
            cursor: pointer;
        }

        &-item:nth-child(even) {
            animation: up 1s forwards;
        }

        &-item:nth-child(odd) {
            animation: down 1s forwards;
        }
    }
}

.navlink {
    // font-size: 1.5rem;
    padding: 10px;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: top;
    transition: transform 500ms cubic-bezier(0.55, 0.55, 0.675, 0.19);

    &:hover {
        transform: rotateX(90deg);
    }


    &::after {
        background-color: white;
        content: attr(data-text);

        position: absolute;
        left: 0;
        bottom: -187%;
        padding: inherit;
        color: $myblue;
        transform: rotateX(-90deg);
        transform-origin: top;
        border-radius: 5px;


    }

}

.daflex {
    // display: flex;
    width: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.darkmode {
    margin-left: 10px;
    cursor: pointer;

    &_icon {
        height: 20px;
        fill: black;
    }
}




@keyframes up {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes down {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}



@include breakpoint-down(medium) {
    .navbar {
        width: 93vw;
        padding: 8px 0;

        &_logo {
            font-weight: 500;
            width: 60px;
            height: 60px;
        }

        &_links {
            display: none;
        }
    }

    .darkmode {
        margin-right: 38px;
    }



}




@keyframes slide-right {
    from {
        margin-left: -400px;
    }

    to {
        margin-left: 0;
    }
}