.navbar {
    background-color: #6610f2;
    padding: 8px 16px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
        color: white;
        font-size: 1.5625rem;
    }

    &_links {
        width: 30%;
        display: flex;
        justify-content: space-between;
        list-style: none;


        &-item {
            color: white;
            cursor: pointer;
        }

        &-item:nth-child(even) {
            animation: up 1s forwards;
        }

        &-item:nth-child(odd) {
            animation: down 1s forwards;
        }
    }
}

.navlink {
    // font-size: 1.5rem;
    padding: 10px;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: top;
    transition: transform 600ms cubic-bezier(0.55, 0.55, 0.675, 0.19);

    &:hover {
        transform: rotateX(90deg);
    }


    &::after {
        background-color: white;
        content: attr(data-text);

        position: absolute;
        left: 0;
        bottom: -187%;
        padding: inherit;
        color: mediumpurple;
        transform: rotateX(-90deg);
        transform-origin: top;
        border-radius: 5px;


    }

}



.nav {
    background-color: #6610f2;
    padding: 8px 16px;
    overflow: hidden;


}

@keyframes up {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes down {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@include breakpoint-down(medium) {
    // .navbar {
    //     // border: 1px solid red;
    //     // padding: 20px;
    //     background-color: #6610f2;
    //     // background-color: white;
    //     // position: absolute;
    //     // top: 0;
    //     // left: 0;
    //     width: 50%;
    //     height: auto;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-evenly;
    //     color: #6610f2;
    //     transform: rotateY(-90deg);
    //     transition: transform 650ms cubic-bezier(0.55, 0.55, 0.675, 0.19);





    //     &_logo {
    //         // background-color: #6610f2;
    //         // animation: initial;
    //         // border-radius: 100%;
    //         // width: 10rem;
    //         // height: 10rem;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         // color: white;

    //     }

    //     &_links {
    //         color: #6610f2;
    //         flex-direction: column;
    //         align-items: center;

    //         &-item {
    //             color: #6610f2;
    //         }
    //     }
    // }

    .navbar {
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: 80px;
        height: auto;
        position: relative;



        &_links {

            top: 0;
            left: 0;
            position: fixed;
            height: 100vh;
            width: 100%;
            background-color: #6610f2;

            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            clip-path: circle(100px at 90% -15%);
            -webkit-clip-path: circle(100px at 90% -15%);
            transition: all 1.2s ease-in-out;

            // opacity: 0;
            // transform: translateY(-300px);
            // transition: all 650ms;


        }


    }

    .menu {
        padding: 1.5rem 1.9rem;
        position: fixed;
        top: 1rem;
        right: 1rem;
        background-color: rgb(255, 255, 255);
        z-index: 999;
        border-radius: 3px;
        cursor: pointer;

    }

    .bar,
    .bar::before,
    .bar::after {
        content: '';
        position: absolute;
        width: 3rem;
        height: 2px;
        background-color: #6610f2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transition: all 650ms;
    }

    .bar::before {
        top: -1.7rem;
    }

    .bar::after {
        top: 1rem;
    }

    .open.bar {
        background-color: transparent;
    }

    .open .bar::before {
        transform: rotate(45deg);
    }

    .open .bar::after {
        transform: rotate(-45deg);
    }

    .open .bar::before,
    .open .bar::after {
        top: 0;
    }

    // .open.navbar_links {
    //     opacity: 1;
    //     transform: translateY(0);
    //     // transform: rotateY(0);

    // }
    .open.navbar_links {
        clip-path: circle(1370px at 90% -15%);
        -webkit-clip-path: circle(1370px at 90% -15%);
    }

    .header {
        position: relative;
    }
}