.prof {
    position: relative;

    &__title {
        font-size: 1rem;
        margin: 20px 0px 20px 20px;


    }

    &__grid {
        padding: 10px 15px;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 40px;

        &_icon {
            img {
                width: 32px;
                height: 32px;
            }
        }

        &_details {

            &-title {
                font-size: 16px;
                margin-bottom: 15px;
            }

            &-info {
                font-size: 14px;
                line-height: 33px;
                color: #62748e;
            }
        }

    }
}

@include breakpoint-up(medium) {
    .prof {
        width: 80vw;
        margin: 0 auto;
    }
}