.skill {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__icon {


        img {
            width: 40px;
            margin-bottom: 3px;
            transition: all 650ms;



            &:hover {
                transform: scale(1.4) translateZ(0px);
            }

        }
    }



}

.eng-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 3px;
    transition: all 650ms;



    &:hover {
        transform: scale(1.4) translateZ(0px);
    }

}



.skills {
    width: 93vw;
    margin: 0 auto;

    .ki {
        margin: 0px 0px 20px 9px;
        font-size: 1rem;
    }



    &__grid {
        margin-top: 15px;
        background-color: white;
        border-radius: 15px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 30px;
        text-align: center;

    }

    .rea {
        animation: App-logo-spin infinite 5s linear;
        -moz-animation: App-logo-spin infinite 5s linear;
        -webkit-animation: App-logo-spin infinite 5s linear;
        -o-animation: App-logo-spin infinite 5s linear;




    }
}

@include breakpoint-up(medium) {
    .skills {
        width: 80vw;

        &__grid {
            grid-template-columns: 1fr 1fr 1fr;
            padding: 40px 30px;

        }
    }

    .skill {

        &__icon {
            img {
                width: 120px;
                margin-bottom: 22px;




            }

        }

        span {
            font-size: 22px;
        }

    }


    .eng-icon {
        width: 111px;

        height: 110px;

        margin-bottom: 32px;

    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}