*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}

body {
  background-color: #f2f2ff;
}

.react-icons {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: white;
  -webkit-tap-highlight-color: transparent;
}

button {
  outline: none;
}

@media (max-width: 64em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 63.9375em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  padding: 8px 16px;
  overflow: hidden;
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_logo {
  color: white;
  font-size: 1.5625rem;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-image: url(../img/myAvatar.png);
}

.navbar_links {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.navbar_links-item {
  cursor: pointer;
}

.navbar_links-item:nth-child(even) {
  -webkit-animation: up 1s forwards;
          animation: up 1s forwards;
}

.navbar_links-item:nth-child(odd) {
  -webkit-animation: down 1s forwards;
          animation: down 1s forwards;
}

.navlink {
  padding: 10px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
  transition: -webkit-transform 500ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
  transition: transform 500ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
  transition: transform 500ms cubic-bezier(0.55, 0.55, 0.675, 0.19), -webkit-transform 500ms cubic-bezier(0.55, 0.55, 0.675, 0.19);
}

.daflex {
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.darkmode {
  margin-left: 10px;
  cursor: pointer;
}

.darkmode_icon {
  height: 20px;
  fill: black;
}

@-webkit-keyframes up {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes up {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 64em) {
  .navbar {
    width: 93vw;
    padding: 8px 0;
  }
  .navbar_logo {
    font-weight: 500;
    width: 60px;
    height: 60px;
  }
  .navbar_links {
    display: none;
  }
  .darkmode {
    margin-right: 38px;
  }
}

.react-responsive-modal-modal {
  width: 93vw;
  height: auto;
  margin: 0 auto;
  padding: 45px 25px 0 0 !important;
}

.modal__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.modalinfo {
  padding: 20px;
}

.modalinfo_title {
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalinfo_text {
  color: aqua;
}

.modalimg img {
  width: 400px;
  height: 400px;
}

.body {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 16px;
}

.intro {
  width: 93vw;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__title {
  font-size: 38px;
  margin-top: 15px;
  margin-bottom: 23px;
}

.intro__info {
  font-size: 1rem;
  margin-bottom: 10px;
}

.intro__btn {
  font-size: 13px;
  width: 130px;
  height: 35px;
  background-color: #7373f2;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

@media (min-width: 39.9375em) {
  .intro {
    width: 80vw;
    padding: 20px 30px 80px;
    font-stretch: 100%;
  }
  .intro__title {
    font-size: 60px;
    padding: 20px 20px 20px 0;
    width: 50%;
    letter-spacing: 10px;
    margin-bottom: 0;
  }
  .intro__info {
    font-size: 22px;
    padding-right: 130px;
    margin-bottom: 45px;
  }
  .intro__btn:hover {
    background-color: #fff2f2;
  }
}

.addproject {
  width: 93vw;
  margin: 0 auto;
  margin-bottom: 35px;
}

.addproject__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

.feat {
  font-size: 20px;
  font-weight: 400;
  margin: 30px 0px 20px 9px;
}

a {
  color: black;
}

.imgincase {
  margin-left: 10px;
  position: relative;
  top: 4px;
}

@media (min-width: 39.9375em) {
  .addproject {
    width: 80vw;
  }
  .addproject__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.project {
  cursor: pointer;
  -webkit-transform: none;
          transform: none;
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 650ms;
  transition: all 650ms;
  border: none;
}

.project:hover {
  -webkit-transform: scale(1.04) translateZ(0px);
          transform: scale(1.04) translateZ(0px);
}

.project__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 265px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  -webkit-transition: all 2.5s ease-in-out;
  transition: all 2.5s ease-in-out;
}

.project__img img:hover {
  -o-object-position: bottom;
     object-position: bottom;
}

.project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 13px;
}

.project__info-name {
  font-size: 20px;
}

.project__info-name span {
  display: inline-block;
  position: relative;
  max-width: 152px;
}

@media (min-width: 39.9375em) {
  .project__info-name span {
    max-width: unset;
  }
}

.project__info-btn {
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: mediumpurple;
  border-radius: 5px;
}

.rig {
  color: white;
  width: 30px;
  height: 30px;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill__icon img {
  width: 40px;
  margin-bottom: 3px;
  -webkit-transition: all 650ms;
  transition: all 650ms;
}

.skill__icon img:hover {
  -webkit-transform: scale(1.4) translateZ(0px);
          transform: scale(1.4) translateZ(0px);
}

.eng-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 3px;
  -webkit-transition: all 650ms;
  transition: all 650ms;
}

.eng-icon:hover {
  -webkit-transform: scale(1.4) translateZ(0px);
          transform: scale(1.4) translateZ(0px);
}

.skills {
  width: 93vw;
  margin: 0 auto;
}

.skills .ki {
  margin: 0px 0px 20px 9px;
  font-size: 1rem;
}

.skills__grid {
  margin-top: 15px;
  background-color: white;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 30px;
  text-align: center;
}

.skills .rea {
  animation: App-logo-spin infinite 5s linear;
  -moz-animation: App-logo-spin infinite 5s linear;
  -webkit-animation: App-logo-spin infinite 5s linear;
  -o-animation: App-logo-spin infinite 5s linear;
}

@media (min-width: 39.9375em) {
  .skills {
    width: 80vw;
  }
  .skills__grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 30px;
  }
  .skill__icon img {
    width: 120px;
    margin-bottom: 22px;
  }
  .skill span {
    font-size: 22px;
  }
  .eng-icon {
    width: 111px;
    height: 110px;
    margin-bottom: 32px;
  }
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.prof {
  position: relative;
}

.prof__title {
  font-size: 1rem;
  margin: 20px 0px 20px 20px;
}

.prof__grid {
  padding: 10px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 40px;
}

.prof__grid_icon img {
  width: 32px;
  height: 32px;
}

.prof__grid_details-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.prof__grid_details-info {
  font-size: 14px;
  line-height: 33px;
  color: #62748e;
}

.code-icon {
  width: 32px;
  height: 32px;
}

@media (min-width: 39.9375em) {
  .prof {
    width: 80vw;
    margin: 0 auto;
  }
}

.footer {
  border-top: 1px solid #d1d1db;
  padding: 20px 20px 0 20px;
}

.footer__icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  margin-bottom: 20px;
  text-align: end;
}

.footer__copy {
  font-size: 14px;
}

.footer__copy span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: .47px;
}

.footer__copy span .copy {
  margin-right: 10px;
}

.footer__copy a {
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  letter-spacing: 0.47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 39.9375em) {
  .footer__icon {
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .footer__copy span {
    letter-spacing: 10px;
    margin-bottom: 5px;
  }
  .footer__copy a {
    letter-spacing: 5px;
  }
  .icon {
    width: 55px;
    height: 26px;
  }
}
/*# sourceMappingURL=style.css.map */